body {

    color: #6495ED;
    font: sans-serif, times;
    
  }

  .jumbotron {
      color:rgb(63, 201, 201);
      font-style:oblique;
      font-size:large;
      font:georgia, times bold;
      background-image: url("../../images/background.jpg");
  }